<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>

    <main>
        <% if (blgs.length > 0) { %>
            <div class="grid">
                <% for (let blog of blgs) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= blog.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="https://emptynesterstravelinsights.com/wp-content/uploads/2019/01/pexels-photo-459688.jpeg"
                                alt="A Book">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= new Date(Date.now()).toLocaleString() %></h2>
                            <p class="product__description"> <%= blog.content %></p>
                        </div>
                        <div class="card__actions">
                            <button class="btn">Add to blog</button>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No blogs Found!</h1>
        <% } %>
    </main>
<%- include('includes/end.ejs') %>